ENV=production
JWT_SECRET=secret
REDIS_PASSWORD=password
REDIS_URL=redis://:password@redis:6379
LOCALE=en
CERT_MAIL=admin@example.com
POSTGRES_DB=circlo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@database:5432/circlo
DOMAIN=example.loc
CAP_ADMIN_KEY=asfa